Exercise 1: Make an empty list and call it names

In [3]:
names=[]
print(type(names))

<class 'list'>

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [12]:
names = ['Hannah', 'Victor', 'Sam', 'James', 'Sarah']
print(names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']

Exercise 3: Make names sored in reverse. Print out the list using a for-loop

In [11]:
new_names = sorted(names, reverse=True)

for name in new_names:
    print(name)

Victor
Sarah
Sam
James
Hannah

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [20]:
names.sort()

counter = 0
while counter < 5:
    print(names[0 + counter])
    counter += 1

Hannah
James
Sam
Sarah
Victor

Exercise 5: Pull out the fourth item from names and print it out

In [21]:
x = names[3]
print(x)

Sarah

Exercise 6: Pull out the first item from names and print it out

In [22]:
y = names[0]
print(y)

Hannah

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [24]:
fruits = 'Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit'
fruits_list = fruits.split(',')
print(fruits_list)

['Apples', ' Oranges', ' Bananas', ' Pineapples', ' Persimmons', ' Dragonfruit']

Exercise 8: Write a program to generate a right-triangle using asterisks(*) where the base of the triangle has 10 asterisks

In [36]:
counter = 0
right_triangle = '*'

while counter < 10:
    print(right_triangle + ('\t '*counter+right_triangle))
    counter += 1
    
print('\t*'*10)

**
*	 *
*	 	 *
*	 	 	 *
*	 	 	 	 *
*	 	 	 	 	 *
*	 	 	 	 	 	 *
*	 	 	 	 	 	 	 *
*	 	 	 	 	 	 	 	 *
*	 	 	 	 	 	 	 	 	 *
	*	*	*	*	*	*	*	*	*	*

Exercise 9: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [39]:
x = 1
counter = 0
wild_list = []

while counter <= 9:
    z = (x + counter)**2
    wild_list.append(z)
    counter += 1

print(wild_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Exercise 10: Create a multiplication table from 1 to 10

In [45]:
counter = 1 
x = 10
while counter < 11:
    print(f'{counter} x {x} =', counter*x)
    counter += 1

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

Exercise 11: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [76]:
res = 0

while True:
    test_scores = input('Please enter test score: ')
       
    if test_scores == 'done':
        break
    if test_scores != 'done':
        counter += 1
        for item in test_scores: 
            try: 
                res += int(test_scores) 
            except ValueError: 
                pass
        continue 

print(res)

Please enter test score: 100
Please enter test score: done
300

In [86]:
res = 0 
while True:
    test_scores = input('Please enter test score: ')
       
    if test_scores == 'done':
        break
    if test_scores != 'done':
        for item in test_scores: 
            try: 
                res = res + int(test_scores) 
            except ValueError: 
                pass


print(res)

Please enter test score: 100
Please enter test score: done
300

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```